networks:
  demo:
    driver: bridge

services:

  postgres:
    extends:
      file: docker-compose.dependencies.yml
      service: postgres

  pgweb:
    image: sosedoff/pgweb:0.17.0
    container_name: pgweb
    restart: always
    ports:
      - 8082:8081
    environment:
      - PGWEB_DATABASE_URL=postgres://demouser:a123456789@postgres:5432/demodb?sslmode=disable
    networks:
      - demo
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8081"
        ]
      interval: 30s
      timeout: 10s
      retries: 5


  mongodb:
    extends:
      file: docker-compose.dependencies.yml
      service: mongodb

  mongo-express:
    image: mongo-express:1-18
    container_name: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_BASICAUTH: false
      ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017/
    networks:
      - demo
    depends_on:
      mongodb:
        condition: service_healthy


  redis:
    extends:
      file: docker-compose.dependencies.yml
      service: redis

  redis-commander:
    image: ghcr.io/joeferner/redis-commander:latest
    container_name: redis-commander
    restart: always
    ports:
      - 8083:8081
    environment:
      - REDIS_HOSTS=local:redis:6379
    user: redis
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - demo
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8081"
        ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
